<h1>Horses</h1>

<div class="new-horse">
  <%= link_to "Add a Horse", new_horse_path, class: "nav-item nav-link" %>
</div>

<div class="booyah-horse">
  <% @horses.each do |horse| %>
    <div class="booyah-box col-10 offset-1">
      <%= link_to horse.name, horse_path(horse) %>
      
  <% end %>
</div>

