<br />
<div class="booyah-horse">
  <h1>New Image</h1>
  <br />
  <%= simple_form_for @gallery_index_path do |f| %>
    <%= f.input :photo %>
   
    <br />
    <%= f.submit 'Submit', class: 'btn-btn-primary' %>
  <% end %>
</div>