// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.heading {
  padding: 35px;
  margin-top: 10px;
  font-family: 'Courgette', cursive;
  color: #557A95;
  font-size: 34px;

  
}

.subheading {
  padding: 20px;
  font-size: 23px;
  font-family: 'Courgette', cursive;
  color: #557A95;
}
  

