<div class="hero">
  <h1 class="heading">Stable Buddy is here for you! Let us lend you a hand.</h1> 
  <h2 class="subheading">We will help you keep track of your horses, your lists, and feature your photos!</h2>
</div>

